// Put any @imports here
// See Readme for a list of supported ones
@import "foundation";

//green
$accent-color1: #196534;
//tan
$accent-color2: #EEE8CD;
$accent-color3: black;
//light blue
$accent-color4: #e2ebf3;

$font-title: 'Droid Serif', serif;
$font-content: 'Lora', serif;


html {
}
body {
  background: $accent-color2;
}

//layout
  //top nav
  .top-bar {
    background: $accent-color1;
    height: 6.5rem;

  }
  .top-bar-section li:not(.has-form) a:not(.button) {
    background: $accent-color1;
    font-family: $font-content;
    font-size: 1rem;
    max-width: 9.2rem;
    vertical-align: middle;
    border-radius: 1.5rem;
    border:  0.1rem solid $accent-color2;
    margin-top: 1.75rem;
    margin-right: 1.875rem;
  }
  .top-bar-section ul li {
      background: $accent-color1;
  }
  .hBird img{
    height: 6.5rem;
  }
  .hText h2{
    margin-right: 25rem;
    height: 5.8rem;
    color: white;
    font-family: $font-title;
    float: left;
    font-size: 48pt;
  }
  //side nav
  .side-nav {
    display: block;
    font-family: $font-content;
    list-style-position: outside;
    list-style-type: none;
    margin: 0.625rem;
    padding: 0.875rem 0;
    border: 0.25rem solid $accent-color1;
    border-radius: 1.5rem;
    width: 9rem;
    background: white;
    position: fixed;

}
  .side-nav li a:not(.button) {
    color: #008CBA;
    display: inline-block;
    margin: 0;
    padding: 0.4375rem 0.875rem;
    color: $accent-color1;
    width: 9rem;
}
.side-nav li.active > a:first-child:not(.button) {
    color: red;
    font-family: $font-content;   
    font-weight: normal;
}
//home template
  .home{
    display: inline-block;
    margin-left: 13rem;
    margin-top: 1rem;
    font-family: $font-content;
    margin-right: 3rem;
  }
  .home h3{
    font-family: $font-content;
  }

 

  //login template
  .login{
    display: inline-block;
    margin-left: 13rem;
    margin-top: 1rem;
  }
    //signup template
  .signup{
    display: inline-block;
    margin-left: 13rem;
    margin-top: 1rem;
  }
      //content template
  .content h2{
    display: inline-block;
    margin-left: 13rem;
    margin-top: 1rem;
    font-size: 36pt;
    font-family: $font-content;
  }
