<div class = "board">
  <p class = "logged">You are logged in as {{vm.user}}</p>


  
  <p>Thanks for visiting the Hillbrooke site.  There is also a lot of good stuff on our facebook page.  If you haven't 'liked' it, please do so.  For some, facebook has become the quickest way to let people know of any important news or anything that is for sale, etc.</p>
  <p>This website is designed to be an additional resource for you.  If there is anything you wish to see here, please send an <a href = "mailto:thomasaheaton@gmail.com?subject=Hillbrooke Website">email </a>and let us know.</p>

  <div class = "links">
    <a href = "#/">Home</a> | 
    <a href="./documents/Hillbrooke Design Standards.pdf">Hillbrooke Design Standards  </a> | 
    <a href = "#/board">HOA Board and Committees  </a> |
    <a href="#/directory">Neighborhood Directory  </a> | 
    <a href = "#/services">Services  </a>
    <br>
    <a href = "#/tennis">Tennis Information</a> |
    <a href="#/Pool">Pool Information</a> | 
    <a href = "#/pictures">Pictures </a>
  </div>
  <br>
  
  <div class = "linkSum">
    <a href = "./documents/Hillbrooke Design Standards.pdf"><h5>Hillbrooke Design Standards</h5></a>
    <p>Got a project in mind?  Please consult the Hillbrooke Design Standards document.  In accordance with HOA requirements, it is important that you request approval before beginning any improvements or modifications to your property.</p>


  
</div>
