<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class = "hBird">
      <a href = "#/home"><img src = "images/hillbrooke logo.jpg">Hillbrooke</a>
    </li>
   

    
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      
      <li>
        <a ng-if = "vm.user != 'Guest'" href = "#/content">Residents Only</a>
        <a ng-if = "vm.user === 'Guest'" href = "#/login">Residents Only</a>
      </li>
      <li>
        <a href = "#/signup">Access Request</a>
      </li>
      
        <a class = "fb" href = "https://www.facebook.com/groups/337111652985682/"><i class="fa fa-facebook-square"></i></a>
      
    </ul>
  </section>
</nav>

<ul class="side-nav">
  <li class="active"><a href="http://www.realtor.com/realestateandhomes-search/Hillbrooke_Alpharetta_GA">Hillbrooke Homes for Sale</a></li>
  <li class="divider"></li>
  <li><a href="http://school.fultonschools.org/es/abbottshill/Pages/default.aspx">Abbotts Hill Elementary</a></li>

  <li><a href="http://school.fultonschools.org/ms/taylorroad/Pages/default.aspx">Taylor Road Middle</a></li>
  <li><a href="http://school.fultonschools.org/hs/chattahoochee/Pages/default.aspx">Chattahoochee High</a></li>
  <li class="divider"></li>
  <li><a href="http://www.johnscreekga.gov/Home.aspx">Johns Creek, GA</a></li>
</ul>


<section class="container" ui-view></section>
<br><br><br><footer><p>Hillbrooke Community, Johns Creek, GA  |  <a href="mailto:thomasaheaton@gmail.com">     Email Webmaster</a></p></footer>
    